<div  class="col-sm-6 text-black">
    <form #userForm="ngForm" (ngSubmit)="createUser(userForm.value)">
        <div>
            <input class="form-control mb-3" type="text" ngModel name="name" placeholder="Enter Name">
        </div>
        <div class="mb-2">
            <input class="form-control" type="email" ngModel name="email" placeholder="Enter Email">
        </div>
        <div class="mb-2">
            <input class="form-control" type="password" ngModel name="password" placeholder="Enter password">
        </div>
        <button class="btn btn-primary">Creater user</button>

    </form>
</div>
